<main class="information-container">
    <h1>About DarkChat:</h1>
    <p>DarkChat is an anonymous online messaging platform created as a coding project.</p>
    <p>There is still alot of developement to be done to ensure a better user experience and higher functionality</p>
</main>