<script defer src="/js/index.js"></script>
<link rel="stylesheet" href="/css/chat.css">
<main>
    <section class="doubleContainer">
        <div class="chat" id="chatContainer">
            <% messages.forEach(element => { %>
                <div>
                    <h3><%= element.sender %></h3>
                    <p><%= element.value %></p>
                </div>
            <% }); %> 
        </div>
        <form name="post" id="messageContainer" class="rowbox fullWidth">
            <textarea placeholder="Type something" name="messageInput" id="messageInput"></textarea>
            <button type="submit" id="submitButton">post</button>
        </form>
    </section>
</main>