div.chat {
    /*height: 70vh;*/
    padding: 20px;
    display: grid;
    row-gap: 5px;
    overflow-y: scroll;
}

.chat div {
    border-left: 3px solid #75E6DA;
    padding-left: 3px;
}

/*#messageContainer {

}*/

#messageContainer > * {
    flex-grow: 1;
    margin: 10px;
}

#messageInput {
    font-size: 1.5rem;
    font: inherit;
    width: 70%;
    resize: none;
    border: none;
}

#submitButton {
    background-color: #75E6DA;
    font-size: 1.5em;
    border: none;
    border-radius: 10px;
}
#submitButton:hover {
    background-color: #B4F8C8;
}
/*#submitButton:focus {
    border: 3px solid #75E6DA;
}*/

.fullWidth {
    width: 100%;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    #messageInput {
        border-radius: 10px;
        padding: 5px;
    }
    #submitButton {
        height: 50px;
        width: 50px;
    }
}
