header {
    border: 3px solid grey;
    border-bottom: none;
}

header h3 {
    padding: 20px;
}

nav.navbar {
    position: sticky;
    top: 0;
    border: 3px solid grey;
    background: black;
    /*height: 10vh;*/
}

nav.navbar a {
    text-decoration: none;
    color: inherit;
    padding: 20px;
    border-right: 3px solid grey;
}

nav.navbar a:hover {
    background: grey;
}